.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}


// ---


.half-wrapper {
    height: 100%;
    width: 50%;
}

#all-wrapper {
    background-color: rgba(0, 255, 98, 0.685);

    height: 500px;
    width: 800px;
}

#side1 {
    background-color: red;
}

#side2 {
    
}

#side2-h2 {
    max-width : 100%;
    text-align: center;
    font-size: 25pt;
    padding: 10px;
    padding-bottom: 300px;
}