/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { 
    height: 100%; 

    margin: 0;
    padding: 0;
}

:root {
    @include mat.form-field-overrides((
        filled-caret-color: rgb(255, 255, 255),
        filled-focus-active-indicator-color: rgb(255, 255, 255),
        container-height: 56px,
        filled-container-color: #09391b,
        filled-label-text-color: rgb(255, 255, 255),
        filled-hover-label-text-color: rgb(255, 255, 255),
        filled-focus-label-text-color: rgb(255, 255, 255),
    ));

    @include mat.progress-spinner-overrides((
        active-indicator-color: rgb(0, 53, 28),
    ));

    .success-snackbar {
        @include mat.snack-bar-overrides((
            container-color: rgb(0, 255, 149),
            supporting-text-color: rgb(0, 0, 0),
            supporting-text-font: "Markazi Text",
            supporting-text-size: 16pt,
            supporting-text-weight: 800,
        ));
        white-space: pre-wrap;
    }

    .error-snackbar {
        @include mat.snack-bar-overrides((
            container-color: rgb(255, 0, 0),
            supporting-text-color: rgb(0, 0, 0),
            supporting-text-font: "Markazi Text",
            supporting-text-size: 16pt,
            supporting-text-weight: 800,
        ));
        white-space: pre-wrap;
    }
}